.jumbotron { 
    background-image: url("../images/mainBanner.jpg");
    background-color: #F58EA8; /* Pink */
    color: #FFFFFF;
    padding: 100px 25px;
}

.bg-grey {
    background-color: #E6ECF0;
}

.bg-white {
    background-color: #FFFFFF;
}

.container-fluid {
    padding: 30px 150px;
}

.logo {
    font-size: 50px;
    color: #F58EA8;
}
@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #F58EA8;
}

.carousel-indicators li {
    border-color: #F58EA8;
}

.carousel-indicators li.active {
    background-color: #F58EA8;
}

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span {
    font-style: normal;
}

.navbar {
    margin-bottom: 0;
    background-color: #F58EA8;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #F58EA8 !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
}

.jumbotron {
    font-family: Montserrat, sans-serif;
}

.navbar {
    font-family: Montserrat, sans-serif;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #F58EA8;
    font-weight: 600;
    margin-bottom: 30px;
}

h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}